<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzkj.modules.product.dao.SysBarcodeContextDao">
  <resultMap id="BaseResultMap" type="com.jzkj.miservice.entity.SysBarcodeContext">
    <id column="barcode_id" jdbcType="VARCHAR" property="barcodeId" />
    <result column="barcode_url" jdbcType="VARCHAR" property="barcodeUrl" />
    <result column="barcode_count" jdbcType="INTEGER" property="barcodeCount" />
    <result column="barcode_address" jdbcType="VARCHAR" property="barcodeAddress" />
    <result column="barcode_status" jdbcType="INTEGER" property="barcodeStatus" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="barcode_pici" jdbcType="VARCHAR" property="barcodePici" />
    <result column="barcode_createTime" jdbcType="TIMESTAMP" property="barcodeCreatetime" />
    <result column="barcode_updateTime" jdbcType="TIMESTAMP" property="barcodeUpdatetime" />
    <result column="barcode_productId" jdbcType="VARCHAR" property="barcodeProductid" />
    <result column="barcode_Ip" jdbcType="VARCHAR" property="barcodeIp" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    barcode_id, barcode_url, barcode_count, barcode_address, barcode_status, product_name,
    barcode_pici, barcode_createTime, barcode_updateTime, barcode_productId, barcode_Ip
  </sql>
  <select id="selectByExample" parameterType="com.jzkj.miservice.entity.SysBarcodeContextExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from sys_barcode_context
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_barcode_context
    where barcode_id = #{barcodeId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_barcode_context
    where barcode_id = #{barcodeId,jdbcType=VARCHAR}
  </delete>
  <select id="countByExample" parameterType="com.jzkj.miservice.entity.SysBarcodeContextExample" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Jan 15 13:25:42 CST 2019.
    -->
    select count(*) from sys_barcode_context
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <insert id="insert" parameterType="com.jzkj.miservice.entity.SysBarcodeContext">
    insert into sys_barcode_context (barcode_id, barcode_url, barcode_count,
      barcode_address, barcode_status, product_name,
      barcode_pici, barcode_createTime, barcode_updateTime,
      barcode_productId, barcode_Ip)
    values (#{barcodeId,jdbcType=VARCHAR}, #{barcodeUrl,jdbcType=VARCHAR}, #{barcodeCount,jdbcType=INTEGER},
      #{barcodeAddress,jdbcType=VARCHAR}, #{barcodeStatus,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR},
      #{barcodePici,jdbcType=VARCHAR}, #{barcodeCreatetime,jdbcType=TIMESTAMP}, #{barcodeUpdatetime,jdbcType=TIMESTAMP},
      #{barcodeProductid,jdbcType=VARCHAR}, #{barcodeIp,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jzkj.miservice.entity.SysBarcodeContext">
    insert into sys_barcode_context
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="barcodeId != null">
        barcode_id,
      </if>
      <if test="barcodeUrl != null">
        barcode_url,
      </if>
      <if test="barcodeCount != null">
        barcode_count,
      </if>
      <if test="barcodeAddress != null">
        barcode_address,
      </if>
      <if test="barcodeStatus != null">
        barcode_status,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="barcodePici != null">
        barcode_pici,
      </if>
      <if test="barcodeCreatetime != null">
        barcode_createTime,
      </if>
      <if test="barcodeUpdatetime != null">
        barcode_updateTime,
      </if>
      <if test="barcodeProductid != null">
        barcode_productId,
      </if>
      <if test="barcodeIp != null">
        barcode_Ip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="barcodeId != null">
        #{barcodeId,jdbcType=VARCHAR},
      </if>
      <if test="barcodeUrl != null">
        #{barcodeUrl,jdbcType=VARCHAR},
      </if>
      <if test="barcodeCount != null">
        #{barcodeCount,jdbcType=INTEGER},
      </if>
      <if test="barcodeAddress != null">
        #{barcodeAddress,jdbcType=VARCHAR},
      </if>
      <if test="barcodeStatus != null">
        #{barcodeStatus,jdbcType=INTEGER},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="barcodePici != null">
        #{barcodePici,jdbcType=VARCHAR},
      </if>
      <if test="barcodeCreatetime != null">
        #{barcodeCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="barcodeUpdatetime != null">
        #{barcodeUpdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="barcodeProductid != null">
        #{barcodeProductid,jdbcType=VARCHAR},
      </if>
      <if test="barcodeIp != null">
        #{barcodeIp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateBarcode" parameterType="com.jzkj.miservice.entity.SysBarcodeContext">
    update sys_barcode_context
    <set>
      <if test="barcodeUrl != null">
        barcode_url = #{barcodeUrl,jdbcType=VARCHAR},
      </if>
      <if test="barcodeCount != null">
        barcode_count = #{barcodeCount,jdbcType=INTEGER},
      </if>
      <if test="barcodeAddress != null">
        barcode_address = #{barcodeAddress,jdbcType=VARCHAR},
      </if>
      <if test="barcodeStatus != null">
        barcode_status = #{barcodeStatus,jdbcType=INTEGER},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="barcodePici != null">
        barcode_pici = #{barcodePici,jdbcType=VARCHAR},
      </if>
      <if test="barcodeCreatetime != null">
        barcode_createTime = #{barcodeCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="barcodeUpdatetime != null">
        barcode_updateTime = #{barcodeUpdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="barcodeProductid != null">
        barcode_productId = #{barcodeProductid,jdbcType=VARCHAR},
      </if>
      <if test="barcodeIp != null">
        barcode_Ip = #{barcodeIp,jdbcType=VARCHAR},
      </if>
    </set>
    where barcode_id = #{barcodeId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jzkj.miservice.entity.SysBarcodeContext">
    update sys_barcode_context
    set barcode_url = #{barcodeUrl,jdbcType=VARCHAR},
      barcode_count = #{barcodeCount,jdbcType=INTEGER},
      barcode_address = #{barcodeAddress,jdbcType=VARCHAR},
      barcode_status = #{barcodeStatus,jdbcType=INTEGER},
      product_name = #{productName,jdbcType=VARCHAR},
      barcode_pici = #{barcodePici,jdbcType=VARCHAR},
      barcode_createTime = #{barcodeCreatetime,jdbcType=TIMESTAMP},
      barcode_updateTime = #{barcodeUpdatetime,jdbcType=TIMESTAMP},
      barcode_productId = #{barcodeProductid,jdbcType=VARCHAR},
      barcode_Ip = #{barcodeIp,jdbcType=VARCHAR}
    where barcode_id = #{barcodeId,jdbcType=VARCHAR}
  </update>
<select id="selectbyids"  parameterType="java.lang.String" resultType="com.jzkj.miservice.entity.SysBarcodeContext">
  select * from sys_barcode_context   where barcode_id = #{barcodeId,jdbcType=VARCHAR}

</select>
</mapper>